body {
    /*position: relative;*/
}

div#body_content {
    background-color: white;
}

div#content {
    /*margin-top: 5px;*/
    min-height: 600px;
}

#base_html_profile_avatar {
    margin-top: 4px;
    width: 3em;
    height: 3em;
}
