.information {
    margin-top: 10px;
}

.comment_information {
    font-size: 0.5em;

}

.comment_ceater {
    color: #ee6583;
}

.comment_content{
    text-indent: 2em;
}

.go_top {
    position: fixed;
    top: 500px;
    left: 200px;
}

#profile_avatar {
    cursor: pointer;
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.empty {
    text-align: center;
    font-size: 2em;
    padding-top: 200px;
}

.option_title {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 1px gray solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}